<div class="about-container" >
  <h2 class="about-heading">About Me</h2>
  <div class="about-content">
    <div class="about-photo">
      <img src="assets/images/myPic.png" class="photo" />
    </div>
    <div class="about-description">
      <p class="about-paragraph">
        I am a passionate self-taught Full Stack Developer. I thrive on building both front-end and back-end solutions that bring ideas to life on the web. I enjoy tackling complex problems and delivering user-centric applications. I'm always seeking opportunities to work on challenging projects that contribute to my growth as a developer.
      </p>
      <div class="skillset">
      <strong>My Skillsets include:</strong>
      <ul>
        <li><strong>Front-end:</strong> HTML, CSS, JavaScript, Angular, React</li>
        <li><strong>Back-end:</strong> Node.js, Express, Django</li>
        <li><strong>Database:</strong> MongoDB, MySQL</li>
        <li><strong>Version Control:</strong> Git & GitHub</li>
        <li><strong>API Design & Integration</strong></li>
        <li><strong>Problem-solving and debugging</strong></li>
      </ul>
      </div>
    </div>
  </div>
</div>

<app-work></app-work>
