<div class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">KUSHI N</div>
      
      <div class="navbar-links">
        <a routerLink="/home"><i class="fas fa-home"></i>Home</a>
        <a routerLink="/about"><i class="fas fa-user"></i>About</a>
        <a routerLink="/work"><i class="fas fa-briefcase"></i>Work Experience</a>
        <a routerLink="/projects"><i class="fas fa-folder"></i>Projects</a>
        <a routerLink="/contact"><i class="fas fa-envelope"></i>Contact Me</a>
      </div>
    </div>
  </div>
  