<div class="work-container">
  <h2 class="work-heading">Work Experience</h2>
  <div class="work-experience">
    <div class="job">
      <div class="job-header">
        <img src="assets/images/logo1.png" alt="Company Logo" class="company-logo">
        <div class="job-details">
          <h3 class="job-title">Anudip Foundation - Data Analytics Intern</h3>
          <p class="job-duration">April,2024 - August,2024</p>
        </div>
      </div>
      <p class="job-description">
        At Anudip Foundation, I was responsible for developing a data analysis project using Power BI in conjunction with Microsoft Excel and other modern technologies. My role focused on creating insightful and user-friendly presentations, analyzing key data trends, and improving the overall accessibility and usability of the data for end users.
      </p>
      <div class="job-header">
        <img src="assets/images/logo2.png" alt="Company Logo" class="company-logo">
        <div class="job-details">
          <h3 class="job-title">TechCiti Pvt Lmt - Data Science Intern</h3>
          <p class="job-duration">August,2023 - September-2023</p>
        </div>
      </div>
      <p class="job-description">
        At TechCiti Pvt Ltd, I worked on developing a machine learning project, utilizing HTML, CSS, and JavaScript for the front-end, along with Django for the back-end. My responsibilities included building a seamless and interactive user interface while integrating machine learning algorithms to deliver data-driven results efficiently.
      </p>
    </div>
  </div>
  
  <app-projects></app-projects>
</div>
