
body {
  background-color: black; /* Choose your preferred background color */
  margin: 0; /* Remove default margin */
  font-family: 'Times New Roman', Times, serif; /* Optional: Set a default font */
}


