<div *ngIf="isLoading" id="loader">
  <div class="loader-text">
    <span>K</span>
    <span>U</span>
    <span>S</span>
    <span>H</span>
    <span>I</span>
  </div>
</div>

<div *ngIf="!isLoading" id="main-content">
<!-- Main Content with Intro -->
<div class="home-container">
  <video autoplay muted loop class="background-video">
    <source src="assets/videos/bg.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
    <h1 class="intro-heading">Hello, I'm KUSHI N</h1>
    <p class="intro-description">I'm a Full Stack Developer</p>
    
    <a href="../../assets/resume/RESUME.pdf" download="KUSHI_N_Resume.pdf" class="resume-button" >Download Resume</a>

  </div>
</div>
  <app-about></app-about>
  
  
  